Hi ! check out animals list<br>
<ul id="animal_list">
  <li>Dog</li>
  <li>Pig</li>
  <li>Robot</li>
  <li>Rabbit</li>
  <li>Lion</li>
  <li>Horse</li>
</ul>

<%= link_to "Google", "http://google.com" %>
<br>
<%= link_to "hello", "http://localhost:3000/animals/hello" %>

